modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["imagemagick", "libwebp"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 39143
externalPort = 4200

[[ports]]
localPort = 39541
externalPort = 3003

[[ports]]
localPort = 41497
externalPort = 5000

[[ports]]
localPort = 44749
externalPort = 3000

[[ports]]
localPort = 46355
externalPort = 5173

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"
